<!-- create-flight-route.component.html -->

<app-navbar></app-navbar>

<div class="form-container">
  <h2 class="form-title">Create Flight Route</h2>

  <div class="d-flex">
    <form [formGroup]="flightRouteForm" (ngSubmit)="onSubmit()" class="flight-form">
    <div class="d-flex">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Origin</mat-label>
          <input matInput formControlName="origin" required>
        </mat-form-field>
      </div>
      <div class="form-group field">
        <mat-form-field appearance="outline">
          <mat-label>Destination</mat-label>
          <input matInput formControlName="destination" required>
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex">
      <div class="form-group ">
        <mat-form-field appearance="outline">
          <mat-label>Departure Time</mat-label>
          <input matInput type="time" formControlName="departureTime" required>
        </mat-form-field>
      </div>
  
      <div class="form-group field">
        <mat-form-field appearance="outline">
          <mat-label>Arrival Time</mat-label>
          <input matInput type="time" formControlName="arrivalTime" required>
        </mat-form-field>
      </div>
    </div>

    <div class="d-flex">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Flight No.</mat-label>
          <input matInput type="text" (input)="onFlightNoInput($event)" formControlName="flightNo" required>
        </mat-form-field>
      </div>
      
      <div class="form-group field">
        <mat-form-field appearance="outline">
          <mat-label>Ticket Price (INR)</mat-label>
          <input matInput type="number" formControlName="amount" required>
        </mat-form-field>
      </div>

    </div>

    <button type="submit" [disabled]="flightRouteForm.invalid" class="submit-btn">Create Flight Route</button>
  </form>
  <div class="side image">
        <img src="https://cdn.dribbble.com/users/1595839/screenshots/11700263/media/c4f2baf7bf5c3751cb01f5f3b61b9a80.gif" alt="Not_Found" class="sideImg">
  </div>
  </div>
</div>
