<div class="passenger-details">
    <h1>Passenger Details for Seat {{ selectedSeat.number }}</h1>
    
    <form (ngSubmit)="submitPassengerDetails()">
      <div class="form-group">
        <label for="name">Passenger Name:</label>
        <input type="text" id="name" name="name" class="form-control" [(ngModel)]="passengerName">
      </div>
      
      <div class="form-group">
        <label for="age">Passenger Age:</label>
        <input type="number" id="age" name="age" class="form-control" [(ngModel)]="passengerAge">
      </div>
      
      <!-- Other passenger details fields can be added here -->
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  