<div class="main">
    <nav class="navbar">
        <div class="logo">
          <!-- <img src="" alt=""> -->
          <!-- <span>FlightBooker</span> -->
          <div *ngIf="user"><h2 class="text-success w-100 mt-2"><i>{{ user.email }}</i></h2></div>
        </div>
        <ul class="nav-links">
          <li><button mat-stroked-button routerLink=""><mat-icon>home</mat-icon> Home</button></li>
          <li><button mat-stroked-button routerLink="/flights"><mat-icon>flight</mat-icon> Flights</button></li>
          <li><button mat-stroked-button (click)="logout()"><mat-icon>logout</mat-icon> Logout</button></li>
          <li><button mat-mini-fab routerLink="/addflights"><mat-icon>add</mat-icon></button></li>
        </ul>
    </nav>
    <div class="underline"></div>
      
</div>